@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
       url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


html, body{
  background-color: #f9f6ee;
  font-family: 'Poppins', sans-serif;
}
