.container{
    display : flex;
    justify-content: space-between;
}

.container a{
    margin : auto;
}

.newPostBtn {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin : auto;
    width : 5rem;
    height : 3rem;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.newPostBtn:hover {
    background-color: #e3345d;
    transform: scale(1.05);
}