.feature {
  max-width: 300px;
  transition: all 0.3s ease;
}

.feature:hover {
  transform: scale(1.1);
}

.featureTitle {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.featureDescription {
  font-size: 1rem;
}

.icon img {
  height: 2rem;
  width: 2rem;
}
